<%- include('../partials/header', {title:"Order Fulfillment", user:user}) -%>
<%- include('../partials/notification', {title:"notification", user:user}) -%>

<body>
<h1>Order:</h1>

<form action="/order" method="POST">
  <h3>Day:<input type = "text" id = "day" name = "day" width="2"></h3>
<table>

  <tr>
    <td> In:<input type="checkbox" id= "in" name = "in"> </td>
    <td> Out: <input type="checkbox" id= "out" name = "out"></td>
  </tr>
  <tr>
    <td> <%=menu["meal"]%>: <input type="checkbox" id= "mealyn" name = "mealyn"></td>
    <td> <%=menu["side1"]%>: <input type="checkbox" id= "side1yn" name = "side1yn"></td>
    <td> <%=menu["side2"]%>: <input type="checkbox" id= "side2yn" name = "side2yn"></td>
    <td> <%=menu["dessert"]%>: <input type="checkbox" id= "dessertyn" name = "dessertyn"></td>


  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><input value= "<%=user._json.email%>" id= "useremail" name = "useremail"><%=user._json.email%></td>
    </tr>
  </table>
  <input type="submit" value="Finalize Order">


</form>
</body>
