<%- include('../partials/header', {title:"addtoProfile", user:user}) -%>
<%- include('../partials/notification', {title:"notification"}) -%>

<br>

<h2>Your Profile</h2>
<p>Welcome Back</p>

<h2>Navigation</h2>
<a href="/addtoProfile"><button>Update Personal Details</button></a>
<a href="/orderingPage"><button>Order Meals</button></a>

<br>
<br>
<br>
<h3>Personal Information</h3>
<br>
<h5>Email: <p><%=user._json.email%></p></h5>
<h5>Grade: <p><%=grade%></p></h5>
<br>
<h5>Dietary Restrictions</h5>
<% if (dietaryRestrictions){%>
  <ul>
    <li><%=dietaryRestrictions[0]%></li>
      <li><%=dietaryRestrictions[1]%></li>
        <li><%=dietaryRestrictions[2]%></li>
  </ul>
<%}%>

<% if (top3Meals){%>

<h5>Top 3 Meals</h5>
<ul>
  <li><%=top3Meals[0]%></li>
    <li><%=top3Meals[1]%></li>
      <li><%=top3Meals[2]%></li>
</ul>
<%}%>
<br>
<h3>Order History</h3>
<ul>
<%for(order in orderHistory){%>
  <li><p><%=orderHistory[order][0]%>,<%=orderHistory[order][1]%>,<%=orderHistory[order][2]%>,<%=orderHistory[order][3]%></p></li>
  <%}%>
</ul>
